<header class="card-panel lime darken-1">
    <h1 class="center-align">Cadastro de fotos</h1>
</header>
<main class="container">

    <div class="row" *ngIf="mensagem">
        <div class="col s12">
            <p class="card blue">
                {{mensagem}}
            </p>
        </div>
    </div>
    <div class="row">
        <form class="col m7" (ngSubmit)="salvar()">
            <div class="input-field col s12">
                <input [(ngModel)]="foto.titulo" name="titulo" id="titulo" type="text" class="validate">
                <label for="titulo">Titulo</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="foto.url" name="url" id="url" type="text" class="validate">
                <label for="url">Url</label>
            </div>

            <div class="input-field col s12">
                <textarea [(ngModel)]="foto.descricao" name="descricao" id="descricao" class="materialize-textarea"></textarea>
                <label for="descricao">Descrição</label>
            </div>
            <a routerLink="" class="btn grey darken-1">Voltar</a>
            <button class="btn">Salvar</button>

        </form>
        <aside class="col m5">
            <h3>preview</h3>

            <card [titulo]="foto.titulo">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </card>
        </aside>
    </div>
</main>